<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Tutorial Start</title>
</head>
<body>
<h1>Home</h1>
<p th:text="${message}"></p>
<p th:text="${message2}"></p>
<br/>
<div th:if="${personas.size() != 0 && !personas.isEmpty()}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
        <tr th:each="person : ${personas}">
            <td th:text="${person.getName()}">Nombre</td>
            <td th:text="${person.getLastname()}">Apellido</td>
            <td th:text="${person.getEmail()}">Email</td>
        </tr>
    </table>
</div>
<div th:if="${personas.size() == 0 && personas.isEmpty()}">
    La lista de personas esta vacia
</div>
<!--Nombre: <span th:text="${person.getName()}">Nombre</span><br/>
Apellido: <span th:text="${person.getLastname()}">Apellido</span><br/>
Email: <span th:text="${person.getEmail()}">Email</span><br/> -->
</body>
</html>